@page "/chats"
@using YMCA3.YmcaApiClient
@using YMCA3.YmcaApiClient.Models.ApiModels
@inject YmcaApiClientService ApiClientService
@using Microsoft.Extensions.Logging
@inject ILogger<Chats> Logger

<div class="content px-4 d-flex flex-column justify-content-center align-items-center" style="height: 100vh; margin-bottom: 25px;">
    <div class="text-center mb-4">
        <h2>Chats</h2>
    </div>
    <div class="w-100" style="max-width: 400px;">
        <ul class="list-group">
            @foreach (var chat in userChats)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center" @onclick="() => NavigateToChat(chat.Id)">
                    <div>
                        <h5 class="mb-1">@chat.User2</h5>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

@code {
    private List<YmcaApiClient.Models.ApiModels.Chat> userChats = new();
    private string _errorMessage;

    protected override async Task OnInitializedAsync()
    {
        await LoadChats();
    }

    private async Task LoadChats()
    {
        try
        {
            var result = await ApiClientService.GetChats();
            if (result != null)
            {
                userChats = result;
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "An error occurred while loading chats");
            _errorMessage = "An error occurred while loading chats.";
        }
    }

    private void NavigateToChat(int chatId)
    {
       // NavigationManager.NavigateTo($"/chatting/{chatId}");
    }
}